* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
  
    background: transparent;
  
    font-family: inherit;
    
    text-decoration: none;
}
  
ol, ul, li {
    list-style:none;
    display:block;
}
  
table {
    border-collapse:collapse;
    border-spacing:0
}
  
a img {
    border: none
}
  
button, a {
    cursor: pointer;
    color: inherit
}
  
textarea {
    resize: none
}
  
button, input, textarea, select {
    appearance: none !important;
    -webkit-appearance: none !important;
    border-radius: 0
}

body {
    background-color: #a8dadc;
    
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

#root {
    display: flex;
    justify-content: center;

    color: #1d3557;
}

form {
    display: grid;
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 1%;

    width: 70%;

    border: 2px solid #1d3557;
    border-radius: 5%;
    background-color: #f1faee;

}

#form div {
    margin-top: 1em;
    margin-bottom: 1em;
  
}

#root::before {
    content: "Feliratkozás";
    position: absolute;
    top: 0.5em;
    justify-content: center;

    font-size: 25px;
    text-transform: uppercase;
}

label {
    display: block;
    margin-top: 0.5%;
    margin-bottom: 0.5%;

    font-size: 15px;
}

input[type="text"] {

    padding: 1%;
    width: 100%;
    outline: 1px solid black;
}

input[type="email"] {

    padding: 1%;
    width: 100%;
    outline: 1px solid black;
}

input[type="checkbox"] {
    border: 1px solid #1d3557;
    box-shadow: 0 0 0 2px #1d3557;
    height: 40%;
    width: 2%;
}

input:focus {
    background-color: white;
    border: 2px solid #1d3557;
}

select {
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 50%;
}

button {
    display: block;
    margin: 1em;

    width: 80%;

    border: 1px solid #1d3557;
    background-color: #f1faee;

    font-size: 30px;

}